# Немного о многоруких бандитах

В ноутбуке про многоруких бандитов мы разбирали классы для реализации отдельных стратегий решения задачки. Реализуйте в той же парадигме стратегии [exp3](https://jamesrledoux.com/algorithms/bandit-algorithms-epsilon-ucb-exp-python/) и [softmax](https://gibberblot.github.io/rl-notes/single-agent/multi-armed-bandits.html) стратегии. Да, вы не ошиблись, они уже сделаны, надо понять, как оно работает и сделать так, чтобы оно работало в использованной нами конфигурации)

В конце концов, вы ж на работе тоже нон-стоп гуглите)

# Задание про АБ

Вот вам функция для расчета размера выборки (тот противный вывод, который я показывал)
Вероятно для оценки размера выборки вы видели вот такую формулу.

$$n > \frac{\left[ \Phi^{-1} \left( 1-\alpha \right) + \Phi^{-1} \left( 1-\beta \right) \right]^2 (\sigma_X^2 + \sigma_Y^2)}{\varepsilon^2}$$

Здесь $\varepsilon$ - размер эффекта, $\alpha$ - вероятность ошибки первого рода, $\beta$ - вероятность ошибки 2 рода

<img src = "https://alexanderdyakonov.files.wordpress.com/2019/05/d0b01.jpg?w=700">


Вспомните, какие там предположения были

In [2]:
def compute_sample_size_abs(epsilon, std1, std2, alpha=0.05, beta=0.2):
    t_alpha = norm.ppf(1 - alpha / 2, loc=0, scale=1)
    t_beta = norm.ppf(1 - beta, loc=0, scale=1)
    z_scores_sum_squared = (t_alpha + t_beta) ** 2
    sample_size = int(
        np.ceil(
            z_scores_sum_squared * (std1 ** 2 + std2 ** 2) / (epsilon ** 2)
        )
    )
    return sample_size

Представим, что у вас есть данные АБ-теста [следующего](https://www.kaggle.com/datasets/mkechinov/ecommerce-events-history-in-cosmetics-shop) вида

Я их скачал и посчитал по дням разные виды событий

In [9]:
import pandas as pd
import duckdb
import hashlib

In [5]:
df = pd.read_csv('/Users/ianpile/Downloads/2019-Dec.csv')

In [7]:
df.event_type.unique()

array(['remove_from_cart', 'view', 'cart', 'purchase'], dtype=object)

In [13]:
q = '''
select CAST(event_time as date) as dt,
    count(distinct user_id) as users,
    count(distinct user_session) as user_sessions,
    sum(case when event_type = 'cart' then 1 else 0 end) as add_to_cart,
    sum(case when event_type = 'view' then 1 else 0 end) as view,
    sum(case when event_type = 'purchase' then 1 else 0 end) as purchase
from df
group by 1
order by 1
'''
duckdb.query(q).to_df()

           dt  users  user_sessions  add_to_cart     view  purchase
0  2019-12-01  17540          29616      34525.0  59528.0    7236.0
1  2019-12-02  19391          31948      36202.0  64921.0    9079.0
2  2019-12-03  18735          30841      38986.0  63503.0    8217.0
3  2019-12-04  18836          30422      37450.0  65472.0    8371.0
4  2019-12-05  18183          29983      33650.0  61445.0    7767.0
5  2019-12-06  16948          28074      32779.0  56883.0    7383.0
6  2019-12-07  15508          26036      28769.0  53910.0    6023.0
7  2019-12-08  16835          26968      33089.0  57435.0    6595.0
8  2019-12-09  19777          33980      41938.0  73983.0    9294.0
9  2019-12-10  19336          32876      38997.0  68677.0    9794.0
10 2019-12-11  20128          33257      38149.0  69931.0    9390.0
11 2019-12-12  18920          30847      36814.0  65577.0    9396.0
12 2019-12-13  17555          29549      30280.0  59932.0    7796.0
13 2019-12-14  16446          26082      29102.0  53099.0    6038.0
14 2019-12-15  17988          28879      31313.0  60275.0    7019.0
15 2019-12-16  19387          32463      37235.0  67282.0    9226.0
16 2019-12-17  18874          31033      33538.0  63779.0    8425.0
17 2019-12-18  18779          30936      33259.0  64313.0    7818.0
18 2019-12-19  17917          28950      29272.0  58848.0    7143.0
19 2019-12-20  16596          25807      26223.0  49265.0    6308.0
20 2019-12-21  16072          24155      24893.0  49525.0    5603.0
21 2019-12-22  16232          25202      28040.0  52169.0    6086.0
22 2019-12-23  18455          29601      30308.0  58344.0    6939.0
23 2019-12-24  17356          27478      29626.0  54577.0    6901.0
24 2019-12-25  16928          27458      27340.0  54129.0    6671.0
25 2019-12-26  16116          24748      23547.0  46670.0    5914.0
26 2019-12-27  14595          22019      20035.0  41300.0    4706.0
27 2019-12-28  14574          22397      20967.0  41477.0    4786.0
28 2019-12-29  14339          22113      18647.0  40668.0    3493.0
29 2019-12-30  13249          19623      15088.0  34198.0    2633.0
30 2019-12-31   7430          10369       7063.0  17216.0    1126.0

Допустим, сейчас 15ое число и вам доступны только данные за 1-14. Вы хотите спланировать АБ-тест длительностью в 2 недели и проверить необходимых размер выборки, чтобы на горизонте в 2 недели уметь замечать изменения масштабом в 4% в показателях:

* Среднее кол-во сессий на пользователя за 2 недели
* Среднее кол-во заказов на сессию за 2 недели
* Среднее кол-во добавлений в корзину на пользователя за за 2 недели

Заметьте, что в подобном тесте единицей рандомизации является ПОЛЬЗОВАТЕЛЬ (а значит события типа "кол-во заказов на сессию" - не независимая выборка)

Проверьте, какой размер выборки вам подскажет "точная формула", которую мы вывели в прошлый раз и насколько это отличается от результата, который вы бы получили:

* бутстрепом

* Линеаризацией ratio + t-тестом

Линеаризация [раз](https://www.researchgate.net/publication/322969314_Consistent_Transformation_of_Ratio_Metrics_for_Efficient_Online_Controlled_Experiments), Линеаризация [два](https://habr.com/ru/companies/kuper/articles/768826/)


- А кааааак мне Монтееее-Кааааааааарлооооооо сдееееелать с эээээтим бутстрееееееепом твоиииииииииииим?

- а вот [так](https://habr.com/ru/articles/780932/)